.gall-img-responsive{
	width:100% !important;
	height:auto !important;
	display:block !important;
}

.gal-container{
	margin-bottom: 60px;
	padding-top:20px;
	overflow:auto;
	display:block;
}
.b-wrapper h2{

	color:#ffffff !important;
	font-size:17px !important;
	padding-bottom: 5px !important;
	margin-bottom: 5px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.b-wrapper p a i{
	color: #ffffff !important;
}
.wl-gallery{
	margin-bottom:20px;
	
}

.rpg-gal-title{
	font-weight: bolder;
	 padding-bottom:20px;
	 border-bottom:2px solid #f2f2f2;
	 text-align:center ;
	 margin-bottom: 20px;
	 font-size:16px;
}
.clearfix:before,
.clearfix:after
 {
  display: table;
  content: " ";
}
.clearfix:after,
.container:after
 {
  clear: both;
}
